.nav-view{
color: red;
 margin-left: 20px;
 background: blue;
 height: 150px;
}

.main-view{
color: red;
 margin-left: 20px;
 background: green;
 height: 500px;
}

.body{
color: navy;
 margin-left: 20px;
}